.back-button {
  font-size: 18px;
  padding: 30px;
}
.content {
  position: relative;
  width: 650px;
  margin: auto;
  &__image {
    width: 100%;
    border-radius: 5px;
  }
  &__title {
    font-size: 18px;
    text-align: center;
  }
  &__card-wrapper {
    margin: 15px 0;
  }
}
